table,
    td{border: 1px solid white;}

.bouton:hover{
    background-color: rgba(149, 201, 8, 0.418);
}

a.PetitB{
    
    background-color: rgba(57, 68, 109, 0.753);
    width:45%;
    height:30%;
    
    border: 3px ridge  rgba(0, 174, 255, 0.719);
    
    color: white;
}

a.GrosB{
    background-color: rgba(57, 68, 109, 0.616);
    width:100%;
    height:30%;
    position: absolute;
    left: 0%;
    border: 3px ridge  rgba(0, 174, 255, 0.719);
    color: white;
    text-size-adjust: auto ;
}

.Bouton-Site{
    text-align: center;
    width:30%;
    height:35%;
    position: absolute;
    left:10%;
    top:10%;
    font-size:x-large;
    
}

a.BHG{
    position: absolute;
    left: 0%;
    top:35%;
}

a.BHD{
    position: absolute;
    left: 55%;
    top:35%;
    
}

a.BBG{
    position: absolute;
    left: 0%;
    top:70%;
    
}

a.BBD{
    position: absolute;
    left: 55%;
    top:70%;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color : white;
    background-color: black;
}

.BlockContenue{
    width:45%;
    position:absolute;
    left:45%;
    top:20%;

}

.TitrePage{
    height:5%;
    width:35%;
    position: absolute;
    left:50%;
    top:10%;
    background-color: rgba(109, 221, 147, 0.733);
    border: 4px double   rgb(199, 241, 171);
    text-align: center;
    color: white;
}

.BlockSousTitre{
    width: 79%;
    position: absolute;
    left:11%;
    top:5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
}

.News{
    text-size-adjust:large;
    width:80% ;
    height: 20%;
    text-decoration:lightgrey;
}
.News:hover{
    text-size-adjust: x-large;
}